.section-container-updates {
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    min-height: 500px;
    height: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 200px 200px 25px;
    gap: 20px;
    grid-template-areas:
    "box-1 box-1 box-1"
    "box-2 box-2 box-3"
    "box-2 box-2 box-3";
    max-width: 1400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.728);
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);  /* Safari support */

    /* Optional styling for nicer look */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


.boxb{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0071ff;  /* Blue for adjustment #0071ff*/
}
